In [1]:
# pip install sqlalchemy psycopg2-binary pandas

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Use the Postgres service name ("postgres") for 'host' 
# in Docker's default network so the Jupyter container can resolve it.
HOST = 'postgres'  
USERNAME = 'postgres'
PASSWORD = 'postgres-password'
POSTGRES_PORT = 5432
DB_NAME_POSTGRES = 'postgres'

def connect_postgres():
    """
    Creates a SQLAlchemy engine for Postgres.
    """
    postgres_url = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}:{POSTGRES_PORT}/{DB_NAME_POSTGRES}'
    return create_engine(postgres_url)

def save_to_postgres(df, table_name):
    """
    Saves a pandas DataFrame to a specified table in Postgres.
    If the table already exists, it will be replaced.
    """
    engine = connect_postgres()
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f"Data saved to PostgreSQL table: {table_name}")

# 1. Create a simple dataset
your_df = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

# 2. Write DataFrame to Postgres
save_to_postgres(your_df, 'your_table')

Data saved to PostgreSQL table: your_table

In [5]:
sql="""
select * from your_table
"""
pd.read_sql_query(
    sql=sql,
    con= connect_postgres())

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie