In [16]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
n=3
# np.random.seed(0)
dates = pd.date_range('2023-01-01', periods=5, freq='D')  # e.g., 5 distinct days
df = pd.DataFrame({
    'retrieval_time': np.random.choice(dates, n),  # 20 rows with random retrieval times
    'value': np.random.randn(n),
    'category': np.random.choice(['A', 'B'], n)
})

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   retrieval_time  3 non-null      datetime64[ns]
 1   value           3 non-null      float64
 2   category        3 non-null      object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 200.0+ bytes

  retrieval_time     value category
0     2023-01-01  1.520069        A
1     2023-01-05  1.365467        A
2     2023-01-03 -0.097696        B

In [17]:
df['date']=df['retrieval_time'].dt.date

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   retrieval_time  3 non-null      datetime64[ns]
 1   value           3 non-null      float64
 2   category        3 non-null      object
 3   date            3 non-null      object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 224.0+ bytes

  retrieval_time     value category        date
0     2023-01-01  1.520069        A  2023-01-01
1     2023-01-05  1.365467        A  2023-01-05
2     2023-01-03 -0.097696        B  2023-01-03

In [18]:
# Write DataFrame to a directory "output_parquet" partitioned by retrieval_time
df.to_parquet(
    "output_parquet",
    partition_cols=["date"],   # <-- crucial for partitioning by retrieval_time
    engine="pyarrow",
    index=False
)

In [19]:
df_read = pd.read_parquet("output_parquet", engine="pyarrow")
df_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   retrieval_time  6 non-null      datetime64[ns]
 1   value           6 non-null      float64
 2   category        6 non-null      object
 3   date            6 non-null      category
dtypes: category(1), datetime64[ns](1), float64(1), object(1)
memory usage: 482.0+ bytes

In [20]:
df_read

  retrieval_time     value category        date
0     2023-01-01  1.520069        A  2023-01-01
1     2023-01-01  0.073041        A  2023-01-01
2     2023-01-03 -0.097696        B  2023-01-03
3     2023-01-04 -1.422326        A  2023-01-04
4     2023-01-05  1.365467        A  2023-01-05
5     2023-01-05  0.070859        B  2023-01-05